* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #1f2937;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.main-container {
  max-width: 800px;
  padding: 60px;
  width: 100%;
}

.title {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
  width: 550px;
}

.title span {
  color: #4adf86;
}

.description {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

#generatePasswordButton {
  background-color: #10b981;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 60px 0;
  padding: 12px 18px;
}

.passwords-container {
  border-top: 1px solid #2f3e53;
  display: flex;
  justify-content: flex-start;
  padding: 40px 0;
}

.random-password {
  background-color: #273549;
  border-radius: 6px;
  color: #55f991;
  cursor: pointer;
  display: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  padding: 12px 18px;
}
